# Python
**/__pycache__/
*.pyo
*.pyd
*.so

# Virtual envs
.venv/
venv/

# Dados/artefatos grandes (montados por volume)
outputs/
mlruns/
.cache/

# Dados de treino
data/

# Notebooks
*.ipynb
.ipynb_checkpoints/

# VCS / editor
.git/
.gitignore
.idea/
.vscode/

# Docs pesados
*.pdf
