# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
env/

# Dados e Modelos
data/
mlruns/
outputs/
cache/
models/

# Notebooks
notebooks/

# IDE
.idea/
*.iml

# Outros
.DS_Store
local_settings.py
